.pets {
    padding: 83px 124px 83px 220px;

    &__block {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__zoo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @include Rubik24w4;
        color: #19707D;
    }

    &__btn {
        padding: 14px 30px;
        background-color: bisque;
        @include font518;
        color: #19707D;
        background-color: transparent;
        border: 3px solid #19707D;
        border-radius: 60px;
    }

    &__box {
        display: grid;
        grid-template-columns:auto auto auto;
        gap: 10px;
        // align-content: space-between
    }

    &__item {
        
        height: 274px;
        width: auto;
        border-radius: 9.174915313720703px;
        background-color: rgb(242, 238, 238);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    &__about{
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #909090;
    }
    &__texts{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__text1{
        @include roboto24w5;
    }
    &__text2{
        @include roboto14w4;
        text-align: left;
        font-size: 16px;
        color: #909090;
    }
    &__btnn1{
        display: none;
    }

}
@media screen and (max-width:770px){
    .pets{
    padding: 20px 28px 20px 20px;

    &__item{
        width: auto;
    }
    &__box{
        grid-template-columns: auto auto;
    }
    &__about{
        width: 300px;
    }
    &__text1{
        font-size: 16px;
    }
    &__text2{
        font-size: 12px;
    }
    &__icon{
        display: none;
    }
    &__none{
        display: none;
    }
    }
}

@media screen and (max-width:420px) {
    .pets{
        padding: 50px 22px 50px 15px;

        &__box{
            grid-template-columns: auto;
        }
        &__none1{
            display: none;
        }
        &__btnn{
            display: none;
        }
        &__btnn1{
            display: block;
            }
    }
}